/* Estilos do componente Header */

.header {
    display: flex;
    padding-top: 48px;
    padding-bottom: 56px;
    justify-content: space-between;
}

.navegacao-principal {
    display: flex;
    gap: 48px;    
    padding-top: 44px;
}

.navegacao-principal li:nth-child(3) {
    margin-right: 103px;
    position: relative;
}

.navegacao-principal li:nth-child(3)::after {
    content: url(../../geral/img/linha-vertical.svg);
    position: absolute;
    left: 158px;
    top: -51px;
}

.navegacao-principal li a {
    font-family: var(--type-second);
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.navegacao-principal li a:hover {
    color: #009738;
}

a.active {   
    position: relative;
}

a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #009738;
    top: 25px;
    right: 0px;
    border-radius: 8px;
}

/* Estilos da página de Login */

#login main {
    background: linear-gradient(to right, #006124, #009738);
    min-height: 80vh;    
    padding: 120px 0;    
}

.login-area {    
    background-color: white;
    padding: 88px;;
    border-radius: 8px;
    box-shadow: 4px 8px 50px rgba(0, 0, 0, 0.5); 
}

#login h1 {
    font-family: var(--type-first);
    font-size: 3rem;
    margin-bottom: 48px; 
    text-align: center;  
}

#login label {
    font-family: var(--type-first);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 8px;     
}

#login .input-default {
    width: 456px;
    height: 56px;
    padding-left: 16px;
    background-color: #f7f7f7;
    border: 2px solid #EDEDED;
    border-radius: 5px;
    display: block;
    margin-bottom: 48px;
    font-size: 1.2rem;    
}

#login input.botao-padrao {
    font-family: var(--type-first);
    cursor: pointer;
    background: linear-gradient(to right, #006124, #009738);
    color: white;
    padding: 16px 56px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    margin-top: 72px;
}

#login input.botao-padrao:hover {
    background: linear-gradient(to right, #00491b, #005a21)
}

/* Estilos da página de cadastro */

#cadastro main {
    background: linear-gradient(to right, #006124, #009738);
    min-height: 80vh;    
    padding: 120px 0;    
}

.cadastro-area {    
    background-color: white;
    padding: 88px;;
    border-radius: 8px;
    box-shadow: 4px 8px 50px rgba(0, 0, 0, 0.5); 
}

#cadastro h1 {
    font-family: var(--type-first);
    font-size: 3rem;
    margin-bottom: 48px; 
    text-align: center;  
}

#cadastro .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cadastro label, #cadastro .input-default {
    display: block;
}

#cadastro label {
    font-family: var(--type-first);
    font-size: 1.2rem;
    display: block;
    margin-bottom: 8px;     
}

/* #cadastro .input-default {
    width: 456px;
    height: 56px;
    padding-left: 16px;
    background-color: #f7f7f7;
    border: 2px solid #EDEDED;
    border-radius: 5px;
    display: block;
    margin-bottom: 48px;
    font-size: 1.2rem;    
} */

#cadastro input.botao-padrao {
    font-family: var(--type-first);
    cursor: pointer;
    background: linear-gradient(to right, #006124, #009738);
    color: white;
    padding: 16px 56px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    margin-top: 72px;
}

#cadastro input.botao-padrao:hover {
    background: linear-gradient(to right, #00491b, #005a21)
}


/* Estilos do componente Footer */

footer p {
    text-align: center;
    padding: 24px 0;
    font-family: var(--type-second);
}
