{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}

<link href="{% static 'consultas/css/css.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

{% endblock 'head' %}
{% block 'conteudo' %}

<body id="consultas">
    <header>
        <div class="header container1">
          <img class="logotype" src="{% static 'geral/img/nathcare-colorido.png' %}" alt="NathCare Logo" width="250px" height="65px">
          <nav>
            <ul class="navegacao-principal">
              <li><a href="/especialidades/solicitar_consultas/">Solicitar consulta</a></li>
              <li><a href="/">Próximos exames</a></li>
              <li><a href="/">Resultados</a></li>        
              <li><a href="/usuarios/cadastro/">Cadastro</a></li>
              <li><a href="/usuarios/login/">Login</a></li>
            </ul>
          </nav>
        </div>
    </header>

    <main>
        <br>
        <br>
        <div class="container">
        <div class="row">
        <div class="col-md">
        <h3 class="font-destaque">Com qual profissional deseja marcar consulta:</h3>
            <form action="{% url 'solicitar_consultas' %}" method="POST"> {% csrf_token %}
        <label for=>Selecione a especialidade que deseja para realizar a consulta:</label>
        <select class="select form-control bg-select" multiple name="especialidades">
            {% for item in especialidades %}
    
            <option class="opt" id="getProfissionais" value="{{item.id}}">{{item.nome}}</option>
    
            {% endfor %}
    
        </select>
            <br>
            <br>
    
            <h3 class="font-destaque">Seleção de profissional</h3>
            <form action="" method="POST">
                <label for=>Selecione o médico(a) que deseja para realizar a consulta:</label>
                <select class="select form-control bg-select" id="profissionaisEspecialidade" multiple name="especialidades">
                    <option class="opt" value="">Espaço reservado para os médicos da determinada especialidade</option>
                </select>
        <br>
            <input type="submit" class="btn-default tamanho-2" name="ultimo_nome" value=" Confirmar Informações"> </form>
    
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md card">
        <div style="font-size: 20px; font-weight: bold">
        <!-- <img src="{% static 'consultas/img/check.png' %}"> -->
        </div>
        <hr style="color: white;">
        <div>

        <br>
        <h5>Data: 08 de Setembro</h5>
        <br>
            <h5>Horário:</h5>
        <form action="" method="POST">
        </form>
        </div>
        </div>
        </div>
    </main>

    <footer>
        <p>NathCare © Todos os direitos reservados.</p>
    </footer>

    <script src="{% static 'consultas/js/solicitar-consultas.js' %}"></script>
</body>

{% endblock 'conteudo' %}