{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}

<link href="{% static 'usuarios/css/styles.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">

{% endblock 'head' %}
{% block 'conteudo' %}

<body id="cadastro">  
  <header>
    <div class="header container1">
      <img class="logotype" src="{% static 'geral/img/nathcare-colorido.png' %}" alt="NathCare Logo" width="250px" height="65px">
      <nav>
        <ul class="navegacao-principal">
          <li><a href="/especialidades/solicitar_consultas/">Solicitar consulta</a></li>
          <li><a href="/">Próximos exames</a></li>
          <li><a href="/">Resultados</a></li>        
          <li><a href="/usuarios/cadastro/">Cadastro</a></li>
          <li><a href="/usuarios/login/">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <!-- <div class="container"> -->
      {% if messages %}
         {% for message in messages %}
           <div class="alert {{message.tags}}">{{message}}</div>
         {% endfor %}
      {% endif %}

    <section class="container2">
      <div class="cadastro-area">          
        <h1 class="font-destaque">Crie sua conta</h1>
        <div>
          <form class="formulario" action="{% url 'cadastro' %}" method="POST">{% csrf_token %}
            <div>
              <label>Primeiro nome</label>              
              <input type="text" class="input-default" name="primeiro_nome">
            </div>
            <div>
              <label>Sobrenome</label>
              <input type="text" class="input-default" name="ultimo_nome">
            </div>
            <div>
              <label>CPF</label>
              <input type="text" class="input-default" name="cpf" placeholder="XXXXXXXXXXX">           </div>
            <div>
              <label>E-mail</label>
              <input type="text" class="input-default" name="email"> 
            </div>
            <div>
              <label>Senha</label>          
              <input type="password" class="input-default" name="senha">
            </div>
            <div>
              <label>Confirmar senha</label>
              <input type="password" class="input-default" name="confirmar_senha" > 
            </div>        
            <input type="submit" class="botao-padrao" value="CRIAR CONTA">
          </form>        
        </div>
      </div>    
    </section>

  </main>  
  
  <footer>
    <p>NathCare © Todos os direitos reservados.</p>
  </footer>
  
  <script src="{% static 'usuarios/js/scripts.js' %}"></script>
</body>

{% endblock %}
